* {
  margin: 0;
  padding: 0;
  color: white;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: cursive, sans-serif;
}

body,
.container {
  background: black;
}

#content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header h1 {
  font-size: 48px;
  letter-spacing: 2px;
  word-spacing: 12px;
  display: flex;
  justify-content: center;
  background: darkgreen;
  padding: 32px;
  border-bottom: 2px lime solid;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7.5vh;
}

#explainer h2 {
  font-size: 32px;
}

#results {
  padding-top: 5vh;
}

#results table {
  table-layout: fixed;
  width: 20vw;
  font-size: 24px;
}

#results table * {
  text-align: center;
  border: 2px lime solid;
}

#results table .last-move {
  font-size: 64px;
}

#buttons {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  gap: 48px;
}

.btn {
  font-family: sans-serif;
  font-size: 64px;
  padding: 8px 32px;
  background: darkgreen;
  border: 2px lime solid;
  border-radius: 20px;
}