* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body,
.container {
  background: black;
}

#explainer form *,
#results table *,
.btn {
  border: 2px lime solid;
}

#content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header h1 {
  font-size: 48px;
  letter-spacing: 2px;
  word-spacing: 12px;
  display: flex;
  justify-content: center;
  background: darkgreen;
  padding: 32px;
  border-bottom: 2px lime solid;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7.5vh;
}

#explainer h2,
#explainer form * {
  font-size: 32px;
}

#explainer form {
  display: inline;
}

#explainer form * {
  background: black;
}

#results {
  padding-top: 5vh;
}

#results table {
  table-layout: fixed;
  width: 20vw;
  font-size: 24px;
}

#results table * {
  text-align: center;
}

#results table .last-move {
  font-size: 64px;
}

#buttons {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  gap: 48px;
}

.btn {
  font-family: sans-serif;
  font-size: 64px;
  padding: 8px 32px;
  background: darkgreen;
  border-radius: 20px;
}

/* Just experimenting, there's definitely better ways to do these */

header h1 {
  animation-name: fadein;
  animation-duration: 3s;
}

.container * {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 0.5s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}